<h1 class="page_title">Edit Animal Details</h1>


<form class="form" action="/animals/<%= @animal.id %>" method="post">
  <p><label>
    Name:
    <input 
    type="text"
    name="name"
    value="<%= @animal.name %>"
    >
  </label></p>

  <p><label>
    Breed:
    <input 
    type="text" 
    name="breed" 
    value="<%= @animal.breed%>"
    >
  </label></p>

  <p><label>
    Admission date:
    <input 
    type="date" 
    name="admission_date"
    value="<%= @animal.admission_date %>"
    >
  </label></p>


  <p><label>
    Select a status:
    <select name="status">
      <option 
      <%= "selected" if @animal.status == "Unassessed" %>
      value="Unassessed">Unassessed</option>
      <option 
      <%= "selected" if @animal.status == "In Training" %>
      value="In Training">In Training</option>
      <option 
      <%= "selected" if @animal.status == "Under Vet Care" %>
      value="Under Vet Care">Under Vet Care</option>
      <option 
      <%= "selected" if @animal.status == "Ready for Adoption" %>
      value="Ready for Adoption">Ready for Adoption</option>
      <option 
      <%= "selected" if @animal.status == "Adopted" %>
      value="Adopted">Adopted</option>
    </select>
  </label></p>

  <p><label>
    Photo:
    <input 
    type="text" 
    name="photo" 
    value="<%= @animal.photo%>"
    >
  </label></p>
  
  <p><input type="submit" value="Update Details"></p>

</form>