<h1>Edit Animal Details</h1>

<form action="/animals/<%= @animal.id %>" method="post">
  <label>
  Name:
  <input 
    type="text"
    name="name"
   value="<%= @animal.name %>"
  >
  </label>

  <label>
  Breed:
  <input 
    type="text" 
    name="breed" 
    value="<%= @animal.breed%>"
  >
  </label>

  <label>
  Admission date (YYYY-MM-DD):
  <input 
    type="date" 
    name="admission_date"
    value="<%= @animal.admission_date %>"
  >
  </label>


  <label>
  Select a status:
    <select name="status">
      <option 
      <%= "selected" if @animal.status == "Unassessed" %>
      value="unassessed">Unassessed</option>
      <option 
      <%= "selected" if @animal.status == "In Training" %>
      value="in training">In Training</option>
      <option 
      <%= "selected" if @animal.status == "Under Vet Care" %>
      value="under vet care">Under Vet Care</option>
      <option 
      <%= "selected" if @animal.status == "Ready for Adoption" %>
      value="ready for adoption">Ready for Adoption</option>
      <option 
      <%= "selected" if @animal.status == "Adopted" %>
      value="adopted">Adopted</option>
    </select>
  </label>

  <!-- add photo so doesn't get removed when update -->
  <label>
  Photo:
  <input 
    type="text" 
    name="photo" 
    value="<%= @animal.photo%>"
  >
  </label>
 

  <input type="submit" value="Update Details"> 

</form>