<p>Animals filtered</p>

<% for animal in @animals %>
<div class = 'animal'> 
<img src="<%= animal.photo %>" alt="animal pic" style="height:150px;width:200px;">
<p>Name: <%= animal.name %></p>
<p>Admission date: <%= animal.admission_date %></p>
<p><%= animal.status %></p>

<p><a href="/animals/<%= animal.id %>">Show animal details</a></p> 

</div>
<% end %>        