<h1> Show Animal </h1>



<p>Name: <%= @animal.name() %></p>
<p>Breed: <%= @animal.breed() %></p>
<p>Admission Date: <%= @animal.admission_date() %></p>
<p>Status: <%= @animal.status() %></p>

<a class="link" href="/animals/<%= @animal.id %>/edit">Edit Details</a>
<form action="/animals/<%= @animal.id %>/delete" method="post">
  <input type="submit" value="Delete Animal">
</form> 
