<h1 class="page_title" >Adoptions</h1>

<div class="links">
  <a class="link" href="/adoptions/new">New Adoption</a>
</div>



<% for adoption in @adoptions %>
<div class = 'adoption'> 
  
  <img class="photo" src="<%= adoption.animal.photo() %>" alt="animal pic" style="height:150px;width:200px;">
  <p><a href="/animals/<%= adoption.animal.id %>"><%= adoption.animal.name %></a></p>
  <p>Breed: <%= adoption.animal.breed %></p>
  <p>Owner: <a href="/owners/<%= adoption.owner.id %>"><%= adoption.owner.first_name %> <%= adoption.owner.last_name  %></a></p>
  
  <form action="/animals/<%= adoption.id %>/delete" method="post">
    <input class="link" type="submit" value="Delete Adoption">
  </form> 
</div>

<% end %>


