<h1 class="page_title">Record an Adoption</h1>


<form class="form" action="/adoptions" method="post">
  <p>
  Select an animal:
  </p>
  <p>
    <label>
      <select name="animal_id">
        <% for animal in @animals %>
            <% if animal.status == "Ready for Adoption" %>
          <option value="<%= animal.id %>"><%= animal.name %></option>
        <% end %>
        <% end %>
      </select>
    </label>
  </p>

  <p>
    Select an owner:
  </p>
  <p>
    <label>
      <select name="owner_id">
        <% for owner in @owners %>
        <option value="<%= owner.id %>"><%= owner.first_name %> <%= owner.last_name %></option>
        <% end %>
      </select>
    </label>
  </p>

  <input type='submit' value="Submit">
</form>