<h1>Our Animals</h1>



<% for animal in @animals %>
<div id= 'animal'> 
<p><img src="<%= animal.photo %>" alt="animal pic" style="height:150px;width:200px;"></p>

<p>Name: <%= animal.name %></p>
<p>Breed: <%= animal.breed %></p>
<p>Admission date: <%= animal.admission_date %></p>

<p><a href="/animals/<%= animal.id %>">Show animal details</a></p> 
<hr>
</div>
<% end %>