<h1 class="page_title">Edit Owner Details</h1>


<form class="form" action="/owners/<%= @owner.id %>" method="post">
  <p><label>
    First Name:
    <input 
    type="text"
    name="first_name"
    value="<%= @owner.first_name %>"
    >
  </label></p>

  <p><label>
    Last Name:
    <input 
    type="text" 
    name="last_name" 
    value="<%= @owner.last_name%>"
    >
  </label></p>

  <p><label>
    Address 1:
    <input 
    type="text" 
    name="address_1"
    value="<%= @owner.address_1 %>"
    >
  </label></p>

  <p><label>
    Address 2:
    <input 
    type="text" 
    name="address_2"
    value="<%= @owner.address_2 %>"
    >
  </label></p>

  <p><label>
    Address 3:
    <input 
    type="text" 
    name="address_3"
    value="<%= @owner.address_3 %>"
    >
  </label></p>
  
  <p><input type="submit" value="Update Details"></p>

</form>