<p>Name: <%= @owner.first_name %> <%= @owner.last_name %></p>
<p>Address:
<ul style="list-style-type:none">
  <li> <%= @owner.address_1 %></li>
  <li> <%= @owner.address_2 %></li>
  <li> <%= @owner.address_3 %></li>
</ul></p>

<form action="/owners/<%= @owner.id %>/delete" method="post">
  <input type="submit" value="Delete Owner"> 
</form>

<p>Animals adopted by <%= @owner.first_name %>:</p>
<% for animal in @owner.get_animals %>
<div class = 'animal'> 
<img src="<%= animal.photo %>" alt="animal pic" style="height:150px;width:200px;">
<p>Name: <%= animal.name %></p>
<p>Breed: <%= animal.breed %></p>
<p>Admission date: <%= animal.admission_date %></p>

<p><a href="/animals/<%= animal.id %>">Show animal details</a></p> 

</div>
<% end %>
