<p>Name: <%= @owner.first_name %> <%= @owner.last_name %></p>
<p>Address:
<ul style="list-style-type:none">
  <li> <%= @owner.address_1 %></li>
  <li> <%= @owner.address_2 %></li>
  <li> <%= @owner.address_3 %></li>
</ul></p>